<div id="starter_page">
	<div>
		<h1>KNOW YOUR NEWS</h1>
		<br>
		<p id="instruction">Do you think you can guess what stories are likely to be on the first page of the newspaper? Here's a fun game you can play yourself or with friends to see if our current day media landscape meets your expectations!</p>
	</div>
	
	<br><br>

	<div id="entergame">
		<a id= "singleplayerchoice" href="/singleplayer" class="button">SINGLE PLAYER?</a>
		<br>
		<br>
		<a id= "twoplayerchoice" href="/twoplayer" class="button">TWO PLAYER?</a>
	</div>

</div>