<div id="gameArea">
        <!-- This is where the templates defined below will be used -->
    </div>

    <!-- Main Title Screen that appears when the page loads for the first time -->
    <script id="intro-screen-template" type="text/template">

        <div class="titleWrapper">

            <div class="buttons">

                <h1>Play our game with a friend or a stranger!</h1>
                <p>Either Create a private/public room yourself or join an open game room. Warm up those clicking muscles :)</p>
                <button id='btnCreatePri'>Create (Private)</button>
                <br><br>
                <button id='btnCreatePub'>Create (Public)</button>
                <br><br>
                <button id="btnJoinGame" class="btn right">Join</button>
                <div style="clear:both"></div>
            </div>

        </div>

    </script>

    <!-- This screen appears when a user clicks "CREATE" on the Title Screen -->
    <script id="create-game-template" type="text/template">
        <div class="createGameWrapper">

            <h3>We've got you a room!</h3>
            <h1>Your Game Id: </h1>
            <div id="spanNewGameCode" class="gameId"></div>

            <div id="playersWaiting"></div>
        </div>
    </script>

    <script id="join-game-choice-template" type="text/template">
        <h2>Are you joining a private or a public game?</h1> 
        <p>(You will need a game room ID if you're playing private!)"</p>
        <button id='btnJoinPri'>Private</button>
        <button id='btnJoinPub'>Public</button>
    </script>

    <!-- This scrreen appears when a player clicks "JOIN" on the Title Screen -->
    <script id="join-game-private-template" type="text/template">
        <div class="joinGameWrapper">
            <div class="info">
                <label for="inputPlayerName">Your Name:</label>
                <input id="inputPlayerName" type="text" />
            </div>
            <br>
            <div class="info">
                <label for="inputGameId">Game ID:</label>
                <input id="inputGameId" type="text"/>
            </div>
            <br>
            <div class="info buttons">
                <button id="btnStart" class="btn">Enter Game</button>
                <div id="playerWaitingMessage"></div>
            </div>
        </div>
    </script>

    <script id="join-game-public-template" type="text/template">
        <div class="joinGameWrapper">
            <div class="info">
                <label for="inputPlayerName">Your Name:</label>
                <input id="inputPlayerName" type="text" />
            </div>
            <br>
            <div class="info">
                <input id="inputGameId" type="hidden" value="public"/>
            </div>
            <br>
            <div class="info buttons">
                <button id="btnStart" class="btn">Enter Game</button>
                <div id="playerWaitingMessage"></div>
            </div>
        </div>
    </script>


    <!-- This is the 'Host' screen. It displays the word for each player to match -->
    <script id="host-game-template" type="text/template">
        <div id="wordArea">
            <div id="hostWord">5</div>
        </div>
        <div id="playerScores">
            <div id="player1Score" class="playerScore">
                <span class="score">0</span><span class="playerName">Player 1</span>
            </div>
            <div id="player2Score" class="playerScore">
                <span class="playerName">Player 2</span><span class="score">0</span>
            </div>
        </div>
    </script>

    <script src="libs/textFit.min.js"></script>

    <script src="app2.js"></script>